// Button
button {
  border-radius: $rounded-border;
}

.fas {
  margin-right: 50px;
  right: 1%;
  position: absolute;
}

.rotated {
  transform: rotate(90deg);
}
// Categories Components
//*******************************************

.categories__lists {
  @include justified-flex-box($flex-box, $justified-center);
  flex-direction: column;
  padding: 0;
}

.categories__scroll {
  @include basic-box($rounded-border, $small-black-border);
  overflow-y: scroll;
  max-height: 7em;
  padding: 2em auto;
}

// Header
//*******************************************

.header-title {
  text-decoration: none;
  color: yellow;
}

// Logo
//*******************************************

.logo {
  justify-content: $justified-center;
  width: 17em;
  height: 10em;
}

// Nav Component
//*******************************************


.nav__button {
  display: none;
}

@media (max-width: 640px) {

  #menu {
    display: none;
  }

  .menu--active {
    display: inline-flex;
    height: 15em;
    animation: slideDown 1.5s;
  }

  @keyframes slideDown {
    0% {
      display: inline-flex;
      height: 0;
      overflow: hidden;
    }

    80% {
      overflow: hidden;
    }

    100% {
      height: 15em;
    }
  }

  .menu--hidden {
    height: 0;
    overflow: hidden;
    animation: collapse 1.5s ;
  }

  @keyframes collapse {
    from {
      height: 15em;
    }

    to {
      height: 0;
    }
  }

  .nav {
    flex-direction: column;
  }

  .nav__button {
    font-size: 0.9em;
    font-weight: bold;
    display: inline-flex;
    align-self: flex-end;
    height: 2em;
    background: transparent;
    color: white;
    border: 0;
  }

  .nav__button:hover {
    cursor: pointer;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__navigation {
    @include justified-flex-box(inline-flex, space-between);
    padding: .5em;
  }
}

.nav__home {
  text-decoration: none;
  color: white;
}

.nav__items {
  width: auto;
  margin: .7em;
  font-size: .8em;
  font-weight: bold;
  list-style-type: none;
  align-self: center;
}

.nav__navigation {
  display: inline-flex;
}
