.main-header {
	color: white;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 700px) {
	.main-header {
		justify-content: center;
	}
}

.main-header__options {
	align-self: center;
	width: 20em;
	margin: 1.2em;
}

.logo {
	justify-content: center;
	width: 17em;
	height: 10em;
}