.home-main {
	display: grid;
	grid-template-areas:
		"header header"
		"main main";
	margin: 1.5em 0;
	background-color: white;
	border: 1px solid black;
	border-radius: .2em;
	min-width: 43em;
}

@media (max-width: 820px) {
	.home-main {
		min-width: auto;
		width: auto;
		grid-template-areas:
			"header"
			"main";

	}

	.home-main__title {
		grid-column: span 2;
		grid-area: header;
	}
}

@media (min-width: 821px) {
	.home__sections:last-child {
		text-align: center;
		grid-column: 1 / span 2;
		align-self: center;
	}
}

.home-main__title {
	grid-area: header;
	justify-self: center;
}

.home__sections {
	align-self: center;
	margin: 2em;
}

