.menuItem__filmTitle {
	text-decoration: none;
	color: white;
}

.menuItem__main--dropdown {
	cursor: pointer;
}

.menuItem__main-item {
	height: 3em;
}

.menuItem__main-item a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: .9em;
	font-weight: bolder;
}

.menuItem__main-item:hover, .menuItem__submenu-seeMore:hover {
	background-color: #d2d2d2;
}

.menuItem__main-content {
	border: 1px solid #c1c1c1;
	display: none;
	background-color: #f9f9f9;
	position: absolute;
	width: 10em;
	z-index: 1;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuItem__main--dropdown:hover .menuItem__main-content {
	display: block;
}

.menuItem__submenu {
	position: relative;
	padding: 0;
	display: none;
	list-style: none;
	background-color: #f9f9f9;
	font-size: .9em;
	font-weight: bolder;
}

.menuItem__main-content .menuItem__submenu {
	left: 100%;
	bottom: 100%;
	margin-top: -.33em;
	--moz-margin-top: -45em;
}

.menuItem__main-content .menuItem__submenu:last-child {
	right: 100%;
	left: auto;
}

.mainItem__submenu-content {
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuItem__main-item:hover .menuItem__submenu {
	display: block;
	border: 1px solid #343434;
}

.menuItem__submenu-item:hover {
	background-color: #d2d2d2;
}