.search-main {
	width: 100%;
}

.filter__items {
	padding: 3px 9px 2px 4px;
}

.search-main__search--filter {
	margin-top: 6px;
	border: none;
}

.filter__items  {
	border: none;
	margin: .5em;
	background-color: inherit;
	color: white;
}

.filter__items:hover {
	cursor: pointer;
}

.search-main__search__button {
	display: inline-flex;
	overflow: auto;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-left: none;
	outline: none;
}

.search-main__search__button:hover {
	cursor: pointer;
	background-color: #bfbfbf;
}

.search-main__search__button:active {
	background-color: #bfbfbf;
	transform: translateY(1px);
}

#search-main__bar {
	display: inline-flex;
	width: 77%;
	margin-bottom: 2px;
	border: 1px solid black;
	border-right: 1px solid gray;
	outline: none;
}