:root {
	--search-height: 1.5em;
}

.search-main {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	margin-right: 10px;
}

.search-main__search__button {
	position: relative;
	bottom: 1px;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-left: none;
	outline: none;
}

.search-main__search__button:hover {
	cursor: pointer;
	background-color: #bfbfbf;
}

.search-main__search__button, #search-main__bar {
	height: var(--search-height);
}

#search-main__bar {
	display: inline-flex;
	width: 65%;
	margin-bottom: 2px;
	border: 1px solid black;
	border-right: 1px solid gray;
	outline: none;
}